/*
 * 此项目中用到的样式 
 * */
.mui-bar-nav .iconfont {
	margin-top: 20px;
}
.mui-bar-footer {
	height: 60px !important;
}
.mui-bar-footer .mui-btn {
	height: 46px;
	padding-top: 8px;
}
.mui-bar-footer~.mui-content {
    padding-bottom: 59px !important;
}
.mui-hidden.mui-bar-footer~.mui-content {
    padding-bottom: 0px !important;
}
.mui-table-view-cell.mui-checkbox input[type=checkbox], 
.mui-table-view-cell.mui-radio input[type=radio] {
    top: 18px;
}

/*******form 中上传图片控件******/
.jxm-image-input .image-list {
	width: 100%;
	height: 105px;
	background-size: cover;
	padding: 10px 10px;
	overflow: hidden;
}
.jxm-image-input .image-item {
	width: 85px;
	height: 85px;
	background-size: 100% 100%;
	background-image: url(../img/iconfont-tianjia.png);
	display: inline-block;
	position: relative;
	margin-right: 10px;
	margin-bottom: 10px;
	/*border-radius: 5px;
	border: solid 1px #e8e8e8;*/
}
.jxm-image-input .image-item .image-inner {
	width: 85px;
	height: 85px;
	border-radius: 5px;
	display: table;
}
.jxm-image-input .image-item.space {
	border: none;
}
.jxm-image-input .image-item .image-close {
	position: absolute;
	display: inline-block;
	right: -8px;
	top: -8px;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border-radius: 15px;
	background-color: #FF5053;
	color: #f3f3f3;
	border: solid 1px #FF5053;
	font-size: 12px;
	font-weight: 200;
	z-index: 1;
}
.jxm-image-input .image-item.space .image-close,
.jxm-image-input .image-item.space .image-inner {
	display: none;
}

/********其他form控件样式********/
.jxm-form li label {
	display: table-cell;
	width: 110px;
	color: #929292;
}
.jxm-form li span {
	display: table-cell;
}

.jxm-star {
	padding: 5px;
	color: #C7C7CC;
}
.jxm-star-small {
	padding: 1px;
	color: #C7C7CC;
}
.jxm-star-small i {
	font-size: 14px !important;
}

.bigger-18 {
	font-size: 18px !important;
}
.bigger-20 {
	font-size: 20px !important;
}
.bigger-22 {
	font-size: 22px !important;
}
.bigger-24 {
	font-size: 24px !important;
}
.bigger-26 {
	font-size: 26px !important;
}
.bigger-28 {
	font-size: 28px !important;
}
.bigger-30 {
	font-size: 30px !important;
}
.bigger-40 {
	font-size: 40px !important;
}
.bigger-50 {
	font-size: 50px !important;
}
.icon-header {
	margin-top: 2px;
}

/*
 * Jxm图标
 * */
@font-face {
	font-family: "iconfont";
	src:url('../fonts/iconfont.ttf?t=1462351880') format('truetype')
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yibiao:before { content: "\e614"; }
.icon-shuaxin:before { content: "\e605"; }
.icon-xinjian:before { content: "\e602"; }
.icon-taizhang:before { content: "\e60f"; }
.icon-baofei:before { content: "\e612"; }
.icon-create:before { content: "\e611"; }
.icon-saoma:before { content: "\e604"; }
.icon-daiban:before { content: "\e601"; }
.icon-sheng:before { content: "\e616"; }
.icon-gonggao:before { content: "\e60e"; }
.icon-tupian:before { content: "\e617"; }
.icon-shebei:before { content: "\e610"; }
.icon-baoxiu:before { content: "\e618"; }
.icon-xiaoxi1:before { content: "\e600"; }
.icon-home:before { content: "\e607"; }
.icon-tongji:before { content: "\e619"; }
.icon-tongji1:before { content: "\e61a"; }
.icon-tongji2:before { content: "\e61b"; }
.icon-saoma1:before { content: "\e60a"; }
.icon-xiangji:before { content: "\e61e"; }
.icon-tongxunlu:before { content: "\e608"; }
.icon-tongzhi:before { content: "\e620"; }
.icon-wo:before { content: "\e603"; }
.icon-wo-k:before { content: "\e609"; }
.icon-xiaoxi:before { content: "\e626"; }
.icon-shengpi:before { content: "\e621"; }
.icon-gongdan:before { content: "\e622"; }
.icon-richeng:before { content: "\e623"; }
.icon-xiaoxi-k:before { content: "\e627"; }
.icon-bangong-k:before { content: "\e60b"; }
.icon-bangong:before { content: "\e60c"; }
.icon-zhishiku:before { content: "\e624"; }
.icon-pandian:before { content: "\e628"; }
.icon-baofei1:before { content: "\e629"; }
.icon-biandong:before { content: "\e62a"; }
.icon-erweima:before { content: "\e62b"; }
.icon-diaobo:before { content: "\e60d"; }
.icon-xinjian1:before { content: "\e615"; }
.icon-shaixuan:before { content: "\e613"; }
.icon-yingyong:before { content: "\e61c"; }
.icon-yingyong-k:before { content: "\e61d"; }



/*扩展*/

/*点击展示第二级时修改第一级的背景颜色*/
.mui-table-view-cell.mui-active{
	/*background-color:#F9F9F9;*/
	background-color:#E0E0E0;
}
/*修改点击列表的背景颜色*/
.mui-table-view-cell>a:not(.mui-btn).mui-active{
	background-color: #F9F9F9;
}
/*修改label的高度*/
.rowlength{
	height: 50px !important;
}

/*隐藏输入框所在的div*/
.none{
	display: none;
}
.p1{
	
	font-size: 17px;
	color: #222222;
}
.p2{
	
	font-size: 17px;
	color: #222222;
}
.mui-title{
	font-size: 18px !important;
}
.label-blue{
	color: #0099CC !important;
}
.hei{
	height: 50px !important;
}

